__pycache__/
*.pyc
*.pyo
*.db
.env
venv/
.venv/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.swp
*.swo
miniprojet_text.txt
MiniProjet1V1_TI616.pdf
livrable_text.txt
livrable_phase1_ecotasks.docx
MiniProjet2V1_TI616 (1).pdf
miniprojet2_text.txt