{% extends "base.html" %}

{% block titre %}Connexion{% endblock %}

{% block contenu %}
<div class="conteneur conteneur-auth">
    <div class="carte-auth">
        <h1>Connexion</h1>
        <p class="sous-titre-auth">Accedez a vos actions ecologiques.</p>

        <form method="POST" action="{{ url_for('auth.connexion') }}" id="formulaire-connexion">
            <div class="champ">
                <label for="email">Adresse email</label>
                <input type="email" id="email" name="email" value="{{ email|default('') }}"
                       required autocomplete="email" placeholder="votre@email.fr">
            </div>

            <div class="champ">
                <label for="mot_de_passe">Mot de passe</label>
                <input type="password" id="mot_de_passe" name="mot_de_passe"
                       required autocomplete="current-password">
            </div>

            <button type="submit" class="btn-principal btn-plein">Se connecter</button>
        </form>

        <p class="lien-auth">
            Pas encore de compte ?
            <a href="{{ url_for('auth.inscription') }}">Creer un compte</a>
        </p>
    </div>
</div>
{% endblock %}
